SELECT F.TITRE_FILM
FROM CINEMA.FILMS F
INNER JOIN CINEMA.FILMS_CATEGORIE FC
ON F.ID_FILM = FC.ID_FILM
INNER JOIN CINEMA.CATEGORIE C
ON FC.ID_CATEGORIE = C.ID_CATEGORIE
WHERE C.LIB_CATEGORIE IN ('Comedy', 'Adventure')
