SELECT A.PRENOM_ACTEUR, A.NOM_ACTEUR
FROM CINEMA.FILMS F
INNER JOIN CINEMA.CASTING C
ON F.ID_FILM = C.ID_FILM
INNER JOIN CINEMA.ACTEURS A
ON C.ID_ACTEUR = A.ID_ACTEUR
WHERE F.TITRE_FILM LIKE 'Spartacus'
