ALTER TABLE PROCS.FORMATIONELEVES 
ADD NB_LANGAGE_INFO INT ;
GO
UPDATE PROCS.FORMATIONELEVES
SET NB_LANGAGE_INFO = 0 ;
GO
CREATE TABLE PROCS.COMPETENCES_LANGAGE_INFO
(
ID_ELEVE INT NOT NULL,
LANGAGE_INFO VARCHAR(30),
DATE_EXPIRATION_CERTIFICATION DATE
);
GO
CREATE TRIGGER E_CMP_I_LANGUEINF
ON PROCS.COMPETENCES_LANGAGE_INFO AFTER INSERT AS
BEGIN
DECLARE @NBLANG INT ;
SELECT @NBLANG = NB_LANGAGE_INFO FROM PROCS.FORMATIONELEVES 
WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
IF @NBLANG <4
	UPDATE PROCS.FORMATIONELEVES 
		SET NB_LANGAGE_INFO = NB_LANGAGE_INFO +1
		WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
ELSE
	BEGIN
	ROLLBACK TRANSACTION ;
	THROW 50002, 'L élève a déjà la maitrise de 4 langages info',1;
	END;
END;
GO
INSERT INTO PROCS.COMPETENCES_LANGAGE_INFO
VALUES (2, 'sql', ('2050-05-20'));	
GO
DECLARE @RESMOY PROCS.tab_res_moy ;

INSERT INTO @RESMOY select* from PROCS.F_MOY_HEURES();

select * from @RESMOY

GO

CREATE TABLE PROCSCOMPETENCE_METHODE
(
ID_ELEVE INT NOT NULL,
METHODE VARCHAR(30),
DATE_EXPIRATION_CERTIFICATION DATE
);
GO
ALTER TABLE PROCS.FORMATIONELEVES 
ADD NB_METHODES_MAITRISEES INT ;
GO
UPDATE PROCS.FORMATIONELEVES
SET NB_METHODES_MAITRISEES = 0 ;
GO
CREATE TRIGGER E_CMP_I_METHODE
ON PROCS.COMPETENCES_METHODE AFTER INSERT AS
BEGIN
DECLARE @NBMETHODE INT ;
SELECT @NBMETHODE = NB_METHODES_MAITRISEES FROM  PROCS.FORMATIONELEVES
WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
IF @NBMETHODE <2
UPDATE PROCS.FORMATIONELEVES
SET NB_METHODES_MAITRISEES = NB_METHODES_MAITRISEES +1
WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
ELSE
BEGIN
ROLLBACK TRANSACTION ;
THROW 50002, 'L élève a déjà la maitrise de 2 methode',8;
END;
END;

GO

SELECT PFE.NOM_ELEVE 
FROM PROCS.FORMATIONELEVES PFE
WHERE PFE.NB_HEURES_COURS_INFO = (SELECT MAX(PFE.NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES PFE)

GO

SELECT PFE.NOM_ELEVE 
FROM PROCS.FORMATIONELEVES PFE
WHERE PFE.NB_HEURES_COURS_INFO = (SELECT MAX(PFE.NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES PFE WHERE PFE.CODE_FILIERE = 'SLAM ENC')
AND PFE.CODE_FILIERE = 'SLAM ENC'

GO

CREATE PROCEDURE ELEVE_FORME (@FILIERE VARCHAR(10) , @RESULTAT VARCHAR(50) OUTPUT,
@NBHEURECOURS INT OUTPUT) AS
BEGIN
DECLARE @NBEGAL INT ;

IF (@FILIERE IS NULL)
	SELECT @NBEGAL = COUNT(*) FROM PROCS.FORMATIONELEVES
	WHERE NB_HEURES_COURS_INFO = (SELECT MAX(NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES) ;
ELSE
	SELECT @NBEGAL = COUNT(*) FROM PROCS.FORMATIONELEVES
	WHERE NB_HEURES_COURS_INFO = (SELECT MAX(NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES
		WHERE CODE_FILIERE = @FILIERE) AND  CODE_FILIERE = @FILIERE;

IF (@NBEGAL = 0)
	SET @RESULTAT = 'Aucun élève n''est le plus expérimenté';
ELSE
	IF @NBEGAL > 1
	SET @RESULTAT = 'Plusieurs élèves ex aequo';
	ELSE
	BEGIN
		IF (@FILIERE IS NULL)
			SELECT @RESULTAT = CONCAT(NOM_ELEVE, CONCAT('-',CODE_FILIERE)),
				@NBHEURECOURS = NB_HEURES_COURS_INFO
			FROM PROCS.FORMATIONELEVES WHERE NB_HEURES_COURS_INFO = 
				(SELECT MAX(NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES ) ;
		ELSE
			SELECT @RESULTAT = NOM_ELEVE,
				@NBHEURECOURS = NB_HEURES_COURS_INFO
			FROM PROCS.FORMATIONELEVES WHERE NB_HEURES_COURS_INFO = 
				(SELECT MAX(NB_HEURES_COURS_INFO) FROM PROCS.FORMATIONELEVES 
				WHERE CODE_FILIERE = @FILIERE) AND  CODE_FILIERE = @FILIERE;
 	END;
END;

GO

DECLARE @REQUETE 