CREATE TABLE PROCS.COMPETENCES_METHODE
(
ID_ELEVE INT NOT NULL,
METHODE VARCHAR(30),
DATE_EXPIRATION_CERTIFICATION DATE
);
ALTER TABLE PROCS.FORMATIONELEVES 
ADD NB_METHODES_MAITRISEES INT ;
GO
UPDATE PROCS.FORMATIONELEVES
SET NB_METHODES_MAITRISEES = 0 ;
GO

GO
CREATE TRIGGER E_CMP_I_METHODE
ON PROCS.COMPETENCES_METHODE AFTER INSERT AS
BEGIN
DECLARE @NBMETHODES INT ;
SELECT @NBMETHODES = NB_METHODES_MAITRISEES FROM PROCS.FORMATIONELEVES 
WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
IF @NBMETHODES < 2
	UPDATE PROCS.FORMATIONELEVES 
		SET NB_METHODES_MAITRISEES = NB_METHODES_MAITRISEES +1
		WHERE ID_ELEVE=(SELECT ID_ELEVE FROM INSERTED) ;
ELSE
	BEGIN
	ROLLBACK TRANSACTION ;
	THROW 50002, 'L élève a déjà la maitrise de 2 méthodes informatique',1;
	END;
END;

/*** Test
INSERT INTO PROCS.COMPETENCES_METHODE
VALUES(9,'UML','2050-12-25');

INSERT INTO PROCS.COMPETENCES_METHODE
VALUES(9,'Scrum','2050-12-25');

INSERT INTO PROCS.COMPETENCES_METHODE
VALUES(9,'Merise','2050-12-25');
***/