<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
     <testsuite name="REST API Test avec Guzzle">
        <directory suffix=".php">tests</directory>
            </testsuite> 
       </testsuites>
           <filter>
            <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">source</directory>
         </whitelist>
        </filter>
</phpunit>